@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-text-main: var(--color-text-main);
}

html {
  scroll-behavior: smooth !important;
}

@layer base {
  body {
    @apply antialiased text-black bg-white;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #333;
}